<body>

<div class="container">
			<div class="login">
                <img src="../../../assets/sofka.jpeg" width="500" height="200">
                <p></p>
			      	<form action="#" class="signin-form">
			      		<div class="form-group">
				  			<input type="text" class="form-control" placeholder="Usuario" #userName required>
						</div>
                        <p></p>
					    <div class="form-group">
							<input id="password-field" type="password" class="form-control" placeholder="Contraseña" #userPassword required>
							<span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
						</div>
                        <p></p>
						<div class="form-group">
							<button type="button" class="btn btn-primary">Iniciar Sesión</button>
						</div>
						<div class="text-center">
                            <a href="" class="">
                                Olvide mi Contraseña
                            </a>
                            </div>
  						<div class="text-center">
						<a href="" class="">
							Soy aspirante
						</a>
						</div>
					</form>
			</div>
	    </div>
    <div class="imagen">
        <img src="../../../assets/1.jpg" width="500" height="400">
    </div>
        
</body>