<body>
  <div class="container">
    <div class="login">
      <img src="../../../assets/sofka.png" width="500" height="200">
      <p></p>
      <form class="signin-form" [formGroup]="formularioIngreso">
        <div class="form-group">
          <input type="text" formControlName="usuario" class="form-control" placeholder="Usuario" id="nombreUsuario"
            #userName required>
          <span class="mensaje-error"
            *ngIf="this.formularioIngreso.get('usuario')?.errors?.['required']">
            (El usuario no puede estar vacío)
          </span>
          <span class="mensaje-error"
            *ngIf="this.formularioIngreso.get('usuario')?.errors?.['pattern']">
            (El usuario debe contener un punto)
          </span>
        </div>
        <p></p>
        <div class="form-group">
          <input id="password-field" formControlName="contrasena" type="password" class="form-control"
            placeholder="Contraseña" #userPassword required>
          <span class="mensaje-error"
            *ngIf="this.formularioIngreso.get('contrasena')?.errors?.['required']">
            (La contraseña no puede estar vacía)
          </span>
          <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
        </div>
        <p></p>
        <div class="form-group ">
          <button type="button" class="btn btn-primary"
            (click)="verificarCredenciales(userName.value, userPassword.value)">Iniciar
            sesión</button>
        </div>
        <div class="text-center">
          <a class="" (click)="recuperarContrasena(userName.value)">
            Olvidé mi contraseña
          </a>
        </div>
        <div class="text-center">
          <a routerLink="/modulo-aspirante" class="">
            Soy un aspirante
          </a>
        </div>
      </form>
    </div>
  </div>
  <div class="imagen">
    <img src="../../../assets/1.jpg" width="500" height="400">
  </div>

</body>
