<nav class="navbar navbar-light" style="background-color: #9DC3E6;">
<div class="container-fluid">
    <span class="navbar-brand" href="#">Pregunta X</span>
    <span class="navbar-text">
        Timer
      </span>
</div>
</nav>

<div class="container">

    <form [formGroup]="forma" (ngSubmit)="enviarEvaluacion()">

      <div [ngSwitch]="preguntaMostrada.tipoPregutna">
          
        <div *ngSwitchCase="'verdadero o falso'" class="form-group row">
            <h2>
                Pregunta
            </h2>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" formControlName = "preguntaX" value="verdadero" id="">
                <label>Verdadero</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" formControlName = "preguntaX" value="falso" id="">
                <label>Falso</label>
            </div>

        </div>

        <div *ngSwitchCase="'seleccion unica'" class="form-group row">
            <h2>Titulo pregunta</h2>
    
            <div class="form-check">
                <input class="form-check-input" type="radio" formControlName = "flexRadioDefault" value="1" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  Default radio1
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" formControlName = "flexRadioDefault" value="2" id="flexRadioDefault2">
                <label class="form-check-label" for="flexRadioDefault2">
                  Default radio2
                </label>
              </div>
        </div>
    
        <div *ngSwitchDefault class="form-group row">
            <h2>Titulo pregunta</h2>
    
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="1" formControlName = "flexCheckDefault" id = "flexCheckDefault1">
                <label class="form-check-label" for="flexCheckDefault1">
                  Checkbox1
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="2" formControlName = "flexCheckDefault" id = "flexCheckDefault2"  >
                <label class="form-check-label" for="flexCheckDefault2">
                  Checkbox2
                </label>
              </div>
        </div>
        
      </div> 
        
        <br>
        <div class="col-md-8">
            <button class="btn btn-primary" type="button" (click)="siguientePregunta()" [disabled]="preguntaNoValida">
              <span *ngIf="preguntaNoValida" > Seleccione una opción</span>
              <span *ngIf="!preguntaNoValida" > Continuar</span>
            </button>
        </div>
        
        <div class="form-group">
            <label class="col-2 col-form-label">&nbsp;</label>
            <div class="input-group col-md-8">
              <button type="submit" class="btn btn-primary btn-block">
                Finalizar
              </button>
            </div>
        </div>

    </form>
    
</div>


