<div class="contenedor vh-100">
  <div class="contenido">
    <p class="encabezado">¡Hola futuro sofkiano!</p>
    <p class="completa-campos">Completa los siguientes campos para comenzar</p>
    <img src="../../assets/darlamano.PNG" style="margin-left: 240px; margin-bottom: 30px;" alt="imagen dar la mano">
    <img src="../../assets/meta.PNG" alt="imagen meta" style="margin-bottom: 30px; margin-left: 100px;">
    <br>
    <span class="span-nombre-y-apellido">Nombre y apellido: </span>
    <input type="text" name="nombre" placeholder="Escriba 1 nombre y 1 apellido" class="input-nombre-y-apellido">
    <br>
    <br>
    <span class="span-correo">Correo: </span>
    <input type="text" name="correo" placeholder="Escriba su correo" class="input-correo">
    <br>
    <input class="btn-solicitar-codigo btn btn-primary" type="button" value="Solicitar código" (click)="verificarCodigo()">
    <br>
    <span class="span-codigo">Código de verificación: </span>
    
    <input type="text" name="correo" placeholder="Escriba el código" class="input-codigo">
    <img src="../../assets/code-ok.png" id="ok" alt="CódigoExitoso">
    <img src="../../assets/incorrect-code.png" id="noOk"  alt="CódigoIncorrecto">
    <div>
      <input class="btn-comenzar btn btn-success" type="button" value="Comenzar" [disabled]="codigoAcertado">
    </div>
    

    <br>
    <img src="../../assets/QSofkaU.PNG" style="float: right;" alt="imagen Q Sofka">
  </div>
</div>
