<nav class="navbar navbar-light" style="background-color: #9dc3e6">
  <div class="container-fluid">
    <span class="navbar-brand encabezado" href="#">¡Hola futuro sofkiano!</span>
  </div>
</nav>

<div class="contenedor vh-100">
  <div class="container">
    <p class="completa-campos">Completa los siguientes campos para comenzar</p>
    <img src="../../assets/darlamano.PNG" style="margin-left: 240px; margin-bottom: 30px;" alt="imagen dar la mano">
    <img src="../../assets/meta.PNG" alt="imagen meta" style="margin-bottom: 30px; margin-left: 100px;">

    <div class="container mt-3">

      <form  (ngSubmit)="comenzar()">
        <div class="row mb-3">
          <label for="nombre" class="col-sm-2 col-form-label texto-simple">Nombre y apellido</label>
          <div class="col-sm-10">
            <input type="text" formControlName ="nombre" class="form-control" id="nombre">
          </div>
        </div>
  
        <div class="row mb-3">
          <label for="email" class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-10">
            <input type="text" formControlName ="email" class="form-control" id="email">
          </div>
        </div>
  
        <div>
          <button class="btn btn-warning">Solicitar código</button>
        </div>
        
        <br>
        <div class="row mb-3">
          <label for="codigo" class="col-sm-2 col-form-label">Codigo de Verificación</label>
          <div class="col-sm-10">
            <input type="text" formControlName ="codigo" class="form-control" id="codigo">
          </div>
        </div>
  
        <div class="form-group">
          <label class="col-2 col-form-label">&nbsp;</label>
          <div class="input-group col-md-8">
            <button type="submit" 
            class="btn btn-success btn-block"
            [disabled]="">
              Comenzar
            </button>
          </div>
        </div>
        
      </form>
      
    </div>
    

    <!-- <span class="span-nombre-y-apellido">Nombre y apellido: </span>
    <input type="text" formControlName ="nombre" placeholder="Escriba 1 nombre y 1 apellido" class="input-nombre-y-apellido">
    <br>
    <br>
    <span class="span-correo">Correo: </span>
    <input type="text" formControlName ="correo" placeholder="Escriba su correo" class="input-correo">
    <br>
    <input class="btn-solicitar-codigo btn btn-primary" type="button" value="Solicitar código">
    <br>
    <span class="span-codigo">Código de verificación: </span>
    <input type="text" formControlName ="codigo" placeholder="Escriba el código" class="input-codigo">
    <input class="btn-comenzar btn btn-success" type="button" value="Comenzar"> -->
    <br>
    <img src="../../assets/QSofkaU.PNG" style="float: right;" alt="imagen Q Sofka">
  </div>
</div>
